<!-- 뷰 모달 -->
<div class="news-modal-overlay" id="news-modal-overlay" tabindex="-1" aria-hidden="true" aria-labelledby="modalTitleView" role="dialog" aria-modal="true">
    <div class="view-modal">

        <!-- 왼쪽 -->
        <div class="modal-left">
            <label for="txt-news-modal-topic-name">토픽</label>
            <input id="txt-news-modal-topic-name" readonly type="text"/>

            <label for="txt-news-modal-title">제목</label>
            <input id="txt-news-modal-title" type="text" placeholder="최대 10글자" maxlength="10"/>

            <label for="txt-news-modal-date">날짜</label>
            <input id="txt-news-modal-date" type="date"/>

            <label for="txt-news-modal-memo">메모</label>
            <textarea id="txt-news-modal-memo" placeholder="메모 입력" maxlength="200"></textarea>

            <!-- 중요도 버튼 그룹 -->
            <label>중요도</label>
            <div class="importance-button-group">
                <input type="radio" id="importance1" name="rdo-news-modal-importance" value="1" checked/>
                <label for="importance1" class="importance-btn">1</label>

                <input type="radio" id="importance2" name="rdo-news-modal-importance" value="2" />
                <label for="importance2" class="importance-btn">2</label>

                <input type="radio" id="importance3" name="rdo-news-modal-importance" value="3" />
                <label for="importance3" class="importance-btn">3</label>

                <input type="radio" id="importance4" name="rdo-news-modal-importance" value="4" />
                <label for="importance4" class="importance-btn">4</label>

                <input type="radio" id="importance5" name="rdo-news-modal-importance" value="5" />
                <label for="importance5" class="importance-btn">5</label>
            </div>

            <div class="button-group">
                <button class="btn-news-modal-save"     id="btn-news-modal-save"    type="button">저장</button>
                <button class="btn-news-modal-edit"     id="btn-news-modal-edit"    type="button">수정</button>
                <button class="btn-news-modal-delete"   id="btn-news-modal-delete"  type="button">삭제</button>
                <button class="btn-news-modal-close"    id="btn-news-modal-close"   type="button" id="closeModalBtn">닫기</button>
            </div>
        </div>

        <!-- 중간 (기사 목록) -->
        <div class="modal-middle">
            <label>관련 기사</label>
            <div class="url-input-group">
                <input id="txt-news-modal-url" type="text" placeholder="URL 입력"/>
                <button type="button" id="btn-news-modal-add-article" class="btn-news-modal-add-url">등록</button>
                <button type="button" id="btn-news-modal-delete-article" class="btn-news-modal-open-check">삭제</button>
            </div>
            <div id="news-modal-article-wrapper" class="news-modal-article-wrapper" aria-label="관련 기사 리스트"></div>
        </div>

        <!-- 오른쪽 (댓글창) -->
        <div id="modal-comment" class="modal-comment">
            <label>댓글</label>
            <div id="comment-wrapper" class="comment-section" aria-label="댓글 목록"></div>

            <div class="comment-input-area">
                <textarea id="txt-news-modal-comment" placeholder="댓글을 입력하세요..." maxlength="200"></textarea>
                <button type="button" id="btn-news-modal-add-comment">댓글 작성</button>
            </div>
        </div>
    </div>
    <input type="hidden" id="hid-news-modal-topic-uid" />
    <input type="hidden" id="hid-news-modal-news-uid" />
</div>