<!-- 로그인 모달 -->
<div class="signin-modal-overlay" id="signin-modal-overlay">
    <div class="signin-modal">
        <h2>로그인</h2>

        <!-- 이메일 입력 -->
        <div class="form-group">
            <label for="txt-signin-modal-email">이메일</label>
            <input type="text" id="txt-signin-modal-email" placeholder="이메일 입력" maxlength="30" />
        </div>

        <!-- 비밀번호 입력 -->
        <div class="form-group">
            <label for="pwd-signin-modal-password">비밀번호</label>
            <input type="password" id="pwd-signin-modal-password" placeholder="비밀번호 입력" />
        </div>

        <!-- 에러 메시지 출력 -->
        <div class="signin-modal-message" id="signin-modal-message">올바른 정보를 입력하세요.</div>

        <!-- 버튼 영역 -->
        <button class="btn-signin-modal-signin" id="btn-signin-modal-signin">로그인</button>
        <button class="btn-signin-modal-close" id="btn-signin-modal-close">닫기</button>
    </div>
</div>