<div class="signup-modal-overlay" id="signup-modal-overlay">
    <div class="signup-modal">
        <h2>회원가입</h2>

        <!-- 활동명 -->
        <div class="form-group">
            <label for="txt-signup-modal-nickname">닉네임</label>
            <input type="text" id="txt-signup-modal-nickname" placeholder="닉네임 입력 (최대 10글자)" maxlength="10" oninput="this.value = this.value.replace(/[^ㄱ-ㅎㅏ-ㅣ가-힣a-zA-Z0-9]/g, '');"/>
        </div>

        <!-- 이메일 -->
        <div class="form-group">
            <label for="txt-signup-modal-email">이메일</label>
            <div class="input-group">
                <input type="text" id="txt-signup-modal-email" placeholder="이메일 입력" maxlength="30" oninput="this.value = this.value.replace(/[^ㄱ-ㅎㅏ-ㅣ가-힣a-zA-Z0-9@._\-]/g, '');"/>
                <button id="btn-send-code" disabled>인증 발송</button>
            </div>
        </div>

        <!-- 인증번호 -->
        <div class="form-group">
            <label for="txt-signup-modal-code">인증번호</label>
            <div class="input-group">
                <input type="text" id="txt-signup-modal-code" placeholder="인증번호 6자리" disabled/>
                <button id="btn-check-code" disabled>인증 확인</button>
            </div>
        </div>

        <!-- 비밀번호 -->
        <div class="form-group">
            <label for="pwd-signup-modal-password">비밀번호</label>
            <input type="password" id="pwd-signup-modal-password" placeholder="대/소문자, 숫자, 특수기호 포함 8자 이상" disabled/>
        </div>

        <!-- 비밀번호 확인 -->
        <div class="form-group">
            <label for="pwd-signup-modal-password-check">비밀번호 확인</label>
            <input type="password" id="pwd-signup-modal-password-check" placeholder="비밀번호 재입력" disabled/>
        </div>

        <!-- 에러 메시지 출력 위치 -->
        <div class="signup-modal-message" id="signup-modal-message">올바른 이메일을 입력하세요.</div>

        <!-- 하단 버튼 -->
        <button class="btn-signup-modal-save" id="btn-signup-modal-save" disabled>저장</button>
        <button class="btn-signup-modal-close" id="btn-signup-modal-close">닫기</button>
    </div>
</div>