<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>뉴스 타임라인 - 점선 연결</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/jquery/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/constants.js') }}"></script> 
    <script src="{{ url_for('static', filename='js/interest.js') }}"></script>
    <script src="{{ url_for('static', filename='js/sign.js') }}"></script>
    <script src="{{ url_for('static', filename='js/timeline.js') }}"></script>
    <script>
        function IS_SIGNED() {
            return $.post('/signed').then(response => {
                return response.signed
            });
        }
    </script>
</head>
<body>
    {% include 'modal/signin.html' %}
    {% include 'modal/signup.html' %}
    {% include 'modal/interest.html' %}
    {% include 'modal/news.html' %}
    

    <!-- header / search :: s -->
    <div class="header p-cb">
        <div class="logo">
            Newsclip
        </div>
        <div class="sign-wrapper p-cc">
            <button id="interest">관심 토픽 선택 열기</button>
            {% if not session %}
                <div id="signin" class="signin">
                    로그인
                </div>
                <div id="signup" class="signup">
                    회원가입
                </div>
            {% else %}
                <div id="signout" class="signout">
                    로그아웃
                </div>
            {% endif %}
            <div class="spliter"></div>
            <div class="search-toggle">
                조건검색 열기
            </div>
        </div>
    </div>
    <div class="search-wrapper p-cc">
        {% for news_item in news %}
            {{ news_item.TITLE }}
        {% endfor %}
    </div>
    <script>
        $(function(){
            const $toggleBtn = $(".search-toggle");
            const $searchWrapper = $(".search-wrapper");
            const $timeline = $(".timeline-container");

            $toggleBtn.on("click", function () {
                const isActive = $searchWrapper.toggleClass("active").hasClass("active");
                $timeline.toggleClass("pushed");
                $toggleBtn.text(isActive ? "조건검색 닫기" : "조건검색 열기");
            });
        })
    </script>
    <!-- header / search :: e -->

    <div class="timeline-container">
        <!-- timeline header :: s -->
        <div class="timeline-header">
            <div class="topic p-cc">
                 토픽
                <div class="topic-menu-wrapper">
                    <svg id="btn-topic-menu" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" viewBox="0 0 16 16">
                        <path
                            d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z" />
                    </svg>
                    <div id="topic-menu">
                        <div id="btn-topic-new" class="p-cc" data-disabled="false">신규</div>
                        <div class="p-cc">수정</div>
                        <div id="btn-topic-delete" class="p-cc" data-open="false">삭제</div>
                    </div>
                </div>
            </div>
            <div class="timeline p-cc">타임라인</div>
        </div>
        <!-- timeline header :: e -->

        <!-- timeline body :: s -->
        <div id="timeline-body"></div>
        <!-- timeline body :: e -->
    </div>
    <div class="footer">
        © 2025 Geekive (Geekive Newsclip). All rights reserved.<br>
        Copyrights of the clipped articles and content belong to their respective newspapers.
    </div>
    <script>
        const signin    = new Signin();
        const interest  = new Interest();
        const signup    = new Signup();
        const timeline  = new Timeline();
    </script>
</body>

</html>