{% if timeline_list is defined %} <!-- timeline list -->
    {% for timeline in timeline_list %}
        <div class="timeline-row-container timeline-sortable" id="{{ timeline.topic_uid }}">
            <div class="topic-item p-cc">
                <span class="topic-name-area">{{ timeline.topic_name }}</span>
                <input type="text" class="transparent-underline-input hide" placeholder="토픽 입력">
                {% if timeline.is_mine == 1 %}
                <svg class="btn-topic-delete-save hide" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" data-topic-uid="{{ timeline.topic_uid }}">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                </svg>
                {% endif %}
            </div>
            <div class="timeline-row" data-topic-uid="{{ timeline.topic_uid }}" data-topic-name="{{ timeline.topic_name }}">
                <div class="timeline-line"></div>
                <div class="cards-container">
                    {% for date in timeline.DATE_LIST %}
                    <div class="date-slot" data-date="{{ date.DATE }}">
                        {% for news in date.NEWS_LIST %}
                        <div class="news-card alt{{ news.IMPORTANCE }}" data-news-uid="{{ news.NEWS_UID }}">{{ news.TITLE }}<span class="news-date">{{ news.DATE }}</span></div>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}

    <!-- 빈 공간을 채운다 :: s -->
    {% for i in range(8 - timeline_list|length) %}
    <div class="timeline-row-container">
        <div class="topic-item p-cc empty"></div>
        <div class="timeline-row">
            <div class="timeline-line"></div>
            <div class="cards-container"></div>
        </div>
    </div>
    {% endfor %}
    <!-- 빈 공간을 채운다 :: e -->

{% else %}  <!-- timeline template -->
    <div class="timeline-row-container">
        <div class="topic-item p-cc">
            <span class="topic-name-area"></span>
            <input type="text" class="txt-topic-name transparent-underline-input" placeholder="토픽 입력">

            <svg id="btn-topic-new-save" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm10.03 4.97a.75.75 0 0 1 .011 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.75.75 0 0 1 1.08-.022z"/>
            </svg>

            <svg id="btn-topic-new-cancel" xmlns="http://www.w3.org/2000/svg"viewBox="0 0 16 16">
                <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708"/>
            </svg>

            <svg class="btn-topic-delete-save hide" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" data-topic-uid="">
            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
            </svg>
        </div>
        <div class="timeline-row">
            <div class="timeline-line"></div>
            <div class="cards-container">
            </div>
        </div>
    </div>
{% endif %}

